@import "../../Assets/styles/variables.css";

.loader {
  position: fixed;
  overflow: hidden;
  display: flex;
  place-items: center;
  place-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  color: var(--primary-text-color);
}