@import '../../Assets/styles/variables.css';

.ant-progress-inner {
    border-radius: 8px !important;
    background: rgba(255, 255, 255, 0.3) !important;

    .ant-progress-bg {
        border-radius: 0px !important;

    }
}

.ant-progress-layout-bottom {
    .ant-progress-text {
        color: var(--primary-text-color) !important;
        opacity: 0.7;
        transform: translateY(-27px) !important;
        width: 100% !important;
        margin: 0 !important;
    }

}

.order-dets {
    padding: 0 10px;

    .order-price-sell {
        color: red;
    }

    .order-price-buy {
        color: green;
    }
}