@import "../../Assets/Styles/variables.css";

.layout {
  background-color: transparent;
  height: max-content;
}

.header {
  background-color: transparent;
}

.content {
  margin-top: 130px;
  margin-bottom: 20px;
  z-index: 2;

  // @media screen and (max-width: 580px) {
  //   margin-top: 200px;
  // }
}