@import "../../Assets/Styles/variables.css";

.layout {
  background-color: transparent;
  height: max-content;
}

.header {
  background-color: transparent;
  z-index: 3;
}

.content {
  padding-top: 130px;
  z-index: 2;

  @media screen and (max-width: 580px) {
    padding-top: 200px;
  }
}