.dashboard-card {
    background-color: var(--card-primary-background-color);
    padding: 50px;
    width: auto;
    display: flex;
    place-items: center;
    height: max-content;
    border-radius: 8px;
    box-shadow: var(--shadow);

    @media screen and (max-width: 720px) {
        padding: 2px;
        padding-top: 20px;
    }
}

.dashboard-card-market {
    background-color: var(--card-primary-background-color);
    padding: 10px 15px 20px;
    width: auto;
    color: var(--primary-text-color);
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: var(--shadow);

    h2 {
        margin-top: 0;
        font-weight: 600;
    }

    &.buy {
        background: var(--card-buy-background-color);
    }

    &.sell {
        background: var(--card-sell-background-color);
    }

    &.orders {
        background: var(--card-orders-background-color);
    }

    &.header {
        background: var(--coin-color);
        padding: 15px;

        h2 {
            margin: 0 !important;
            font-size: min(1.3rem, calc(2vw + 10px));
        }

        h3 {
            margin: 0 !important;
            font-size: min(1.2rem, calc(1.5vw + 10px));
        }

        p {
            margin: 0 !important;
            font-size: min(1rem, calc(2vw + 5px));
            color: var(--passive-text-color);
        }

        img {
            display: flex;
            height: 50px;
        }

        .possitive,
        .negative {
            font-size: 14px;

            svg {
                transform: translateY(2px);
                scale: 1.1;
            }
        }


        .currency {
            color: var(--passive-text-color);
            font-size: 12px;
        }
    }
}