@import "../../Assets/Styles/variables.css";


.header-container {
  width: 100%;
  vertical-align: middle;
}

.title {
  font-weight: 800;
  border-bottom: 10px solid rgba(192, 212, 191, 0.6);
  border-radius: 4px;
  background-color: var(--primary-text-color);
  background-clip: text;
  font-size: min(calc(1.5rem + 2vw), 45px);
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.4);
}

.info {
  color: var(--passive-text-color);
  font-size: 0.8rem;

  .name {
    cursor: pointer;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    color: var(--secondary-text-color);
    background: var(--primary-text-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.3s;

    &:hover {
      border-color: var(--secondary-text-color);
    }
  }
}