:root {
  --primary-background-color: rgb(255, 255, 255);
  --primary-text-color: rgb(0, 0, 0);
  --passive-text-color: rgb(224, 224, 224);
  --secondary-text-color: #00bfa6;
  --table-icon-size: 23px;
}