:root {
  --primary-background-color: rgb(255, 255, 255);
  --primary-text-color: rgb(0, 0, 0);
  --passive-text-color: rgb(128, 128, 128);
  --secondary-text-color: #389e0d;
  --secondary-text-color-light: #95de64;
  --table-icon-size: 35.25px;
}